{{ define "blog-header" }}
    <div class="blog-header">
      <div class="container">
        <h1 class="blog-title">Ari Maulana</h1>
        <p class="lead blog-description">Believe in "learning" would not leave me into nothing.</p>
      </div>
    </div>
{{end}}