{{ define "navbar" }}
    <div class="blog-masthead">
      <div class="container">
        <nav class="nav">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link" href="/articles">Articles</a>
          <a class="nav-link" href="/">Hire Me</a>
          <a class="nav-link" href="/aboutme">About Me</a>
        </nav>
      </div>
    </div>
{{end}}